<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <div class="alert alert-danger" role="alert">
                <span>Sorry, there's nothing at this address.</span>
            </div>
        </LayoutView>
    </NotFound>
</Router>
